<style>
 .subscribe-button {
  background-color: rgb(200, 0, 0);
  color:white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius:2px;
  cursor:pointer;
  margin-right:8px;
  transition: opacity 1s;
 }
  .subscribe-button:hover {
  opacity:0.9;
}  
  .subscribe-button:active{
    opacity:0.5;
  }
  
</style>
<button class="subscribe-button"> SUBSCRIBE</button>
<style>
  .join-button {
    background-color: white;
    border-color:rgb(41,118,211);
    border-style:solid;
    border-width:1px;
    color:rgb(41,118,211);
    height:37px;
    width:62px;
    border-radius:2px;
    cursor:pointer;
    margin:10px;
    transition: opacity 1s,color 1s;
  }
  .join-button:hover{
    background-color:rgb(41,118,211);
    color:white;
  }
  .join-button:active{
    opacity:0.7;
  }
</style>
<button class="join-button">JOIN</button>



<button class="tweet-button">Tweet</button>
<style>
.tweet-button {
  background-color:rgb(2,158,255);
  color:white;
  border:none;
  height:38px;
  width:80px;
  border-radius:19px;
  cursor:pointer;
  font-weight:bold;
  font-size:15px;
  transition:box-shadow 1s;
}

  .tweet-button:hover{
    box-shadow:5px 5px 10px rgba(0,0,0,0.15);

  
}
</style>
 

<button class="uber">Request now</button>
<style>
  .uber {
    background-color:black;
    color:white;
    height:30px;
    border:none;
    cursor:pointer;
    width:100px;
    margin-left:8px;
    text-align:center;
    font-size:10px;
  }
  .uber:hover { 
    background-color: rgba(74, 64, 64, 0.691);

  }

</style>


<button class="amazon">Add to Cart</button>
<style>
.amazon{
  background-color: rgb(255,216,20);
  border:none;
  height:20px;
  font-size:12px;
  border-radius:18px;
  width:150px;
}

  .amazon:hover {
    background-color:rgb(209, 180, 37);
  }
</style>

<button class="github"> Sign up</button>
<style>
  .github{
    background-color: rgb(46,164,79);
    border:none;
    color:white;
    height:36px;
    width:80px;
    border-radius:12px;
    font-weight:bold;
    transition:box-shadow 1s;
  }
  .github:hover {
   box-shadow:5px 5px 10px rgba(0,0,0,0.15);
  }
</style>
<br>
<button class="button1">Get started</button> <button class="button2">Download</button>
<style>
.button1 {
  color:white;
  background-color: violet;
  font-weight: bold;
  border:none;
  height: 36px;
  width: 100px;
  border-radius:5px;
}
.button2{
  color:rgb(108,117,125);
  background-color:white;
  height:36px;
  border-radius:18px;
  border-top-width:1px;
  border-bottom-width:1px;
  border-right-width: 1px;
  border-left-width:1px; ;
  border-color:rgb(108,117,125);
  border-radius: 5px;
  width:90px;
  margin-left: 8px;
  margin-right:50px;
  transition:filter 1s;
}
.button1:hover{
  filter:brightness(90%);
}
.button2:hover{
  background-color:rgb(108,117,125);
  color:white;
}
</style>

<button class="linkedin1">Apply on company website</button> <button class="linkedin2">Save</button>
<style>
  .linkedin1{
    color:white;
    background-color: rgb(10,102,194);
    width: 200px;
    height:36px; 
    border:none;
    border-radius:18px;
    font-weight: bold;
    transition:background-color 1s;
  }
  .linkedin1:hover{
   background-color: rgb(2, 70, 138);
  }
  .linkedin2 {
color:rgb(10,102,194);
background-color:white;
font-weight:bold;
height:36px;
border-radius:18px;
border-top-width:1px;
border-bottom-width:1px;
border-right-width: 1px;
border-left-width:1px;
border-color:rgb(10,102,194);
width:50px;
border-width 0.15s;


}
.linkedin2:hover{
  background-color: rgb(226, 240, 254);
    border-width: 2px;
  
}
</style>







